body {
	background: #000000;	
}

h1 {
	font-family: Steelfish;
	color: #f4c0d7;
	font-size: 70px;
}

h2 {
	font-size: 30px;
	color: #f4c0d7;
}

#timer {
	font-size: 40px;
}

#start {
	color: #f4c0d7;
	background-color: #000000;
	border-color: #fff;
}

#submit {
	color: #f4c0d7;
	background-color: #000000;
	border-color: #fff;

}

.choices {
	color: #fff;
	
}

.question {
	color: #f4c0d7;
	font-size: 18px;
}

#answer {
	color: #f4c0d7;
	font-size: 14px;
}